.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.container > div {
    background-color: green;
    color: white;
    margin: 5px;
    padding: 5px;
    border: 2px solid blueviolet;
}